# Database Config
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=medstudy
DB_PORT=5432

# Security
# Chave secreta de no mínimo 256 bits (32 caracteres)
JWT_SECRET=super-secreta-chave-jwt-para-medstudy-desenvolvimento
